body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h1 {
    font-size: 36px;
    color: #fff;
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

img{
    margin:20px;
    float: left;
    width:100px;
    height:100px;
}

.nameDesc{
    overflow:auto;
}
