body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h1 {
    font-size: 36px;
    color: #fff;
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.grid-item {
  width: 300px; /* add this line */
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

h2, p {
  margin: 0;
  color: #808080;
}

